@{
    ViewBag.Title = "About";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
    <p>
        <h5>History</h5>

In May 1985, Premier Tax Free, then known and registered as CashBack Ltd., was the founding company of the Tax Free Shopping service to merchants in Ireland.<br />

At the time, this unrivalled service was characterised by two principle features; immediate cash refunds at the principal Irish international airports and an agreement with the Irish tax Government which empowered Premier Tax Free to recover the sales tax (VAT) directly from the tax authorities, resulting in noticeably less paperwork and administration for Irish retailers.<br />

During 1986 hundreds of Irish merchants registered to this new tourist tax refund service. The success of this initial development remains the foundation of our ongoing worldwide growth and expansion of our business.<br />

1990–Following its encouraging success on the Irish market, Premier Tax Free launched its Tax Free Shopping service in France. From our base in Paris, Premier Tax Free quickly grew to process sales tax refunds for over 13,000 French retail outlets.<br />

1993 – Launch of the Premier Tax Free VAT refund service in the UK Ltd. Premier Tax Free was chosen as the exclusive cash refund operator by Heathrow Airport Authority.<br />

1995 - Premier Tax Free expands their winning formula to Switzerland, Spain and Italy in order to provide a Pan European tax refund service for the international markets.<br />

1995 -1999 - Expansion of European operations to Austria, Belgium, Holland, Germany and Portugal.<br />

2000 - Premier Tax Free won the VAT refund concession for Government VAT refunding scheme in Australia.<br />

Premier Tax Free is awarded concession at Toronto International Airport, Canada.<br />

2001- Group moves into new purpose built headquarters in Ireland. Premier commences to expand its tax Refund service across Canada through innovative technical solutions.<br />

2002 - Launch of "Premier Tax Free" brand as new Group worldwide brand and trademark.<br />

2002 - Launch of the Express Refund Service to hotels and retailers in Canada.<br />

2003 - Premier Tax Free business established in the Czech Republic and Jordan, when Premier Tax Free was awarded the exclusive right to refund sales tax to tourists in that country.<br />

2004 - Premier Tax Free commence operations in Singapore.<br />

2006 - Premier Tax Free Mexico is incorporated.<br />

2008 - Premier's Tax Free shopping service is launched in Morocco, Hungary and Sweden.<br />

2010 - Premier Tax Free offers its superior tax free shopping services in Greece. <br />
    </p>

</article>
<aside>
    <h3>Quick links</h3>
    <p>
        Click link to navigate quicker
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
